<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Projetos</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <div class="container">
        <div class="row ">
          <div class="col-md-3 ">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" placeholder="Search" mdbInput>
          </div>

          <!--modal-->
          <div class="col-md-1 ml-auto">
            <span>
              <a class="text-success" (click)="frame.show()">
                <mdb-icon fas icon="plus" size="2x"></mdb-icon>
              </a>

              <div mdbModal #frame="mdbModal" class="modal fade center" id="frameModalTop" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Cadastrar</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="frame.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body mx-3">

                      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-sm-0">
                                <mdb-icon fas icon="user fa-lg" class="prefix "></mdb-icon>
                              </div>
                              <div class="col-sm">
                                <!-- Codigo -->
                                <input type="text" id="registerFormCodigo" formControlName="codigo" class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }" placeholder="Codigo" />
                                <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
                                  <div *ngIf="f.codigo.errors.required">{{'Codigo is required'| translate }}</div>
                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-sm-0">
                                <mdb-icon fas icon="envelope fa-lg" class="prefix "></mdb-icon>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <!-- Proposta -->
                                  <input type="text" id="registerFormProposta" formControlName="proposta"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.proposta.errors }"
                                    placeholder="Proposta" />
                                  <div *ngIf="submitted && f.proposta.errors" class="invalid-feedback">
                                    <div *ngIf="f.proposta.errors.required">{{'Proposta is required'| translate }}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-sm-0">
                                <mdb-icon fas icon="lock fa-lg" class="prefix"></mdb-icon>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <!-- descricao -->
                                  <input type="text" id="registerFormDescricao" formControlName="descricao"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }"
                                    placeholder="Descricao" />
                                  <div *ngIf="submitted && f.descricao.errors" class="invalid-feedback">
                                    <div *ngIf="f.descricao.errors.required">{{'Descricao is required'| translate }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-sm-0">
                                <mdb-icon fas icon="lock fa-lg" class="prefix"></mdb-icon>
                              </div>
                              <div class="col-sm">
                                <div class="md-form">
                                  <!-- quantidade de Horas -->
                                  <input type="text" id="registerFormQuantidadeHoras" formControlName="quantidadeHoras"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.quantidadeHoras.errors }"
                                    placeholder="Quantidade de Horas" />
                                  <div *ngIf="submitted && f.quantidadeHoras.errors" class="invalid-feedback">
                                    <div *ngIf="f.quantidadeHoras.errors.required">
                                      {{'Quantidade de Horas is required'| translate }}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-sm-0">
                                <mdb-icon fas icon="group" class="prefix"></mdb-icon>
                              </div>
                              <div class="col-sm">
                                <!-- gestor -->
                                <div class="form-group">
                                  <select class="form-control" id="registerFormGestor" formControlName="gestor"
                                    [ngClass]="{ 'is-invalid': submitted && f.gestor.errors }">
                                    <option value="" disabled selected hidden>Selecione o gestor</option>
                                    <option *ngFor="let gestor of gestores; let id = index" value={{gestor.id}}>
                                      {{gestor.nome}}</option>
                                  </select>
                                  <div *ngIf="submitted && f.gestor.errors" class="invalid-feedback">
                                    <div *ngIf="f.gestor.errors.required">{{'Gestor is required'| translate }}</div>
                                  </div>
                                </div>

                              </div>
                            </div>

                          </div>
                          <!-- col 2-->
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-sm-0">
                                <mdb-icon fas icon="group" class="prefix"></mdb-icon>
                              </div>
                              
                              <div class="col-sm-10">
                                <app-date-picker></app-date-picker>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12">

                            <div class="modal-footer d-flex justify-content-center">

                              <button [disabled]="loading" mdbBtn color="info" mdbWavesEffect>
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ 'Cadastrar' | translate }}
                              </button>
                              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                            </div>
                          </div>
                        </div>


                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
      <br>
      <table mdbTable id="tableProjetos" #table="mdbTable" class="z-depth-1 text-center">

        <thead class="thead-dark">
          <tr>
            <th *ngFor="let head of headElements; let i = index" aria-controls="tableProjetos" scope="col"
              [mdbTableSort]="listaProjetos" [sortBy]="headElements[i]">{{head | titlecase}}
              <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projeto of listaProjetos; let id = index">

            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex" scope="row">
              <span (keyup)="changeValue(id, 'codigo', $event)" (blur)="updateList(id, 'codigo', $event)"
                contenteditable="true">{{projeto.codigo}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'proposta', $event)"
                (blur)="updateList(id, 'proposta', $event)">{{projeto.proposta}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'descricao', $event)"
                (blur)="updateList(id, 'descricao', $event)">{{projeto.descricao}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'quantidadeHoras', $event)"
                (blur)="updateList(id, 'quantidadeHoras', $event)">{{projeto.quantidadeHoras}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'dataContratacao', $event)"
                (blur)="updateList(id, 'dataContratacao', $event)">{{projeto.dataContratacao}}</span>
            </td>

            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                  (click)="remove(id)">Remove</button>
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
          <tr>
            <td colspan="6">
              <mdb-table-pagination [tableEl]="table" [searchDataSource]="listaProjetos"></mdb-table-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>