

<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Projetos</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <div class="container">
        <div class="row ">
          <div class="col-md-3 ">
              
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" placeholder="Search" mdbInput>
              
          </div>
          <div class="col-md-1 ml-auto">
            <span>
                <app-projetos-modal></app-projetos-modal>
            </span>
          </div>
        </div>
      </div>
      <br>
      <table mdbTable id="tableProjetos" #table="mdbTable" class="z-depth-1 text-center">

        <thead class="thead-dark">
          <tr>
            <th *ngFor="let head of headElements; let i = index" aria-controls="tableProjetos" scope="col"
              [mdbTableSort]="listaProjetos" [sortBy]="headElements[i]">{{head | titlecase}}
              <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projeto of listaProjetos; let id = index">

            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex" scope="row">
              <span (keyup)="changeValue(id, 'codigo', $event)" (blur)="updateList(id, 'codigo', $event)"
                contenteditable="true">{{projeto.codigo}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'proposta', $event)"
                (blur)="updateList(id, 'proposta', $event)">{{projeto.proposta}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'descricao', $event)"
                (blur)="updateList(id, 'descricao', $event)">{{projeto.descricao}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'quantidadeHoras', $event)"
                (blur)="updateList(id, 'quantidadeHoras', $event)">{{projeto.quantidadeHoras}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'dataContratacao', $event)"
                (blur)="updateList(id, 'dataContratacao', $event)">{{projeto.dataContratacao}}</span>
            </td>

            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                  (click)="remove(id)">Remove</button>
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
          <tr>
            <td colspan="6">
              <mdb-table-pagination [tableEl]="table" [searchDataSource]="listaProjetos"></mdb-table-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>