<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Projetos</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <div class="container">
        <div class="row ">
          <div class="col-md-3 ">
              
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" placeholder="Search" mdbInput>
              
          </div>
          <div class="col-md-1 ml-auto">
            <span>
              <a class="text-success" (click)="add()">
                <mdb-icon fas icon="plus" size="2x"></mdb-icon>
              </a>
            </span>
          </div>
        </div>
      </div>
      <table mdbTable id="tableProjetos" #table="mdbTable" class="z-depth-1 text-center">

        <thead class="thead-dark">
          <tr>
            <th *ngFor="let head of headElements; let i = index" aria-controls="tableProjetos" scope="col"
              [mdbTableSort]="personList" [sortBy]="headElements[i]">{{head | titlecase}}
              <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of personList; let id = index">

            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex" scope="row">
              <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)"
                contenteditable="true">{{person.name}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)"
                (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)"
                (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)"
                (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
            </td>
            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)"
                (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
            </td>

            <td *ngIf="id+1 >= mdbTablePagination.firstItemIndex && id < mdbTablePagination.lastItemIndex">
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                  (click)="remove(id)">Remove</button>
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
          <tr>
            <td colspan="6">
              <mdb-table-pagination [tableEl]="table" [searchDataSource]="personList"></mdb-table-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>