<button class="btn btn-primary " type="button" mdbBtn rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>New User
</button>


<div mdbModal #frame="mdbModal" class="modal fade center" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Cadastrar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-0">
              <mdb-icon fas icon="user fa-lg" class="prefix "></mdb-icon>
            </div>
            <div class="col-sm">
              <!-- User -->
              <input type="text" id="registerFormUser" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Name" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">{{'Username is required'| translate }}</div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-0">
              <mdb-icon fas icon="envelope fa-lg" class="prefix "></mdb-icon>
            </div>
            <div class="col-sm">
              <div class="md-form">
                <!-- Email -->
                <input type="email" id="registerFormEmail" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">{{'Email is required'| translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-0">
              <mdb-icon fas icon="lock fa-lg" class="prefix"></mdb-icon>
            </div>
            <div class="col-sm">
              <div class="md-form">
                <!-- Password -->
                <input type="password" id="registerFormPassword" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">{{'Password is required'| translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-0">
              <mdb-icon fas icon="group" class="prefix"></mdb-icon>
            </div>
            <div class="col-sm">
              <!-- Role -->
              <div class="form-group">
                <select class="form-control" id="registerFormRole" formControlName="role"
                  [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                  <option value="" disabled selected hidden>Selecione o perfil</option>
                  <option>ROLE_ADMIN</option>
                  <option>ROLE_USUARIO</option>
                </select>
                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                  <div *ngIf="f.role.errors.required">{{'Role is required'| translate }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">

            <button [disabled]="loading" mdbBtn color="info" mdbWavesEffect>
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{ 'Cadastrar' | translate }}
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- List table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Gerenciamento de Usuarios</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="material colored-header sm table table-striped table-hover text-center">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Email</th>
            <th class="text-center">Perfil</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let id = index">
            <td>
              <span>{{user.id}}</span>
            </td>
            <td>
              <span>{{user.nome}}</span>
            </td>
            <td>
              <span>{{user.email}}</span>
            </td>
            <td>
              <span>{{user.perfil}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->