<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Gerenciamento de Usuarios</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-hover table-fixed text-center">
        <thead class="thead-dark">
          <tr>

            <th class="text-center">Id</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Email</th>
            <th class="text-center">Perfil</th>

          </tr>
        </thead>
        <tr *ngFor="let person of personList; let id = index">

          <td>
            <span (keyup)="changeValue(id, 'id', $event)" (blur)="updateList(id, 'id', $event)"
              contenteditable="true">{{person.id}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'nome', $event)"
              (blur)="updateList(id, 'nome', $event)">{{person.nome}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'email', $event)"
              (blur)="updateList(id, 'email', $event)">{{person.email}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'perfil', $event)"
              (blur)="updateList(id, 'perfil', $event)">{{person.perfil}}</span>
          </td>



        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->